:root{
   --first-title-color: #212121;
   --second-title-color: #ffffff ; 
  --btx-title--color: #2196F3;
  --text-title--color: #757575;
  --logo--title--color:#000000;
  --bgrd--title--color:#2F303A;
  --footer--title--color:rgba(255, 255, 255, 0.6);
  --team--section-color:#F5F4FA;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: var(--second-title-color);
    color: var(--first-title-color);
}

/*-------------Header-----------*/
.header-web-studio{
font-family: 'Raleway';
font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    list-style: none;
    text-decoration: none;
     color: var(--logo--title--color);
 
}

.header-web{
    color: var(--btx-title--color);
}
.header-list{
list-style: none;
}
.header-link{
   
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--first-title-color);
        
        text-decoration: none;

}
.header-link :hover,
.header-link :focus
{
   color:var(--btx-title--color);
}
.current{
    color: var(--btx-title--color);

}


.header-link-contact {
   
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        list-style: none;
        text-decoration: none;
        color: var(--text-title--color);
}
.header-link-contact:hover,
.header-link-contact:focus{
        color:var(--btx-title--color);

    }

        /*-------------Main-----------*/

    /*-------------section name-----------*/
.name{  
    background-color: var(--bgrd--title--color);
}

.main_name{

        
        font-size: 44px;
        line-height: 1.36;    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--second-title-color);
}
.name_btn{
        background-color: var(--btx-title--color);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height:1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--second-title-color);
        border-radius: 4px;
        
    
}

    

.peculiarity_list{
    list-style: none;
}

.peculiarity_item{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--first-title-color);
}
.peculiarity_text{
   
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em; 
        color:var(--text-title--color);
}
/*-------------section work-----------*/
.work{
  
        font-size: 36px;
        line-height:1.16;
        letter-spacing: 0.03em;   
        color:var(--first-title-color);
    

}
.work_list{
list-style: none;
}
.img_work{
   
    text-decoration: none;
}
/*-------------section team-----------*/
.team-section{
    background-color: var(--team--section-color);
}
.team{
 
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color:var(--first-title-color);

}
.team_title{
    list-style: none;

}
.team_list{
    background-color: var(--second-title-color);
  
    
    text-decoration: none;
}
.team_name{

      
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: var(--first-title-color);
}
.team_text{
 
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: var(--text-title--color);
}

 /*------------Footer-----------*/

 .footer {  

    background-color:var(--bgrd--title--color);
 }
.footer_web_studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--second-title-color);

}

.footer_web {
    color: var(--btx-title--color);
}
.footer-address{
font-style: normal;
}
.contacts_item{
list-style: none;
}
.footer_contacts_adress
{
   
font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
   
    text-decoration: none;
    color:var(--second-title-color);
}

.footer_contacts_list{
   
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
       
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
}
.footer_contacts_adress:hover,
.footer_contacts_adress:focus {
    color: var(--btx-title--color);
}

.footer_contacts_list:hover,
.footer_contacts_list:focus {
    color: var(--btx-title--color);
}



 /*------------PORTFOLIO-----------*/
.header-list.header-link.current{
    color: var(--btx-title--color)
}
.port_btn_list{

        font-family: inherit;
        list-style: none;

}

 .port_btn{
    background-color: var(--team--section-color);
       font-weight: 500;
        font-size: 16px;
        line-height:1.62;
        letter-spacing: 0.03em;
        color: var(--first-title-color);
        border-radius: 4px;
        
       
        
       
 }
 .current_button {
     background-color: var(--btx-title--color);
     color: var(--second-title-color);
 }
.port_btn:hover,
.port_btn:focus {
    background-color: var(--btx-title--color);
    color:var(--second-title-color);
}

.menu_project_list{
        list-style: none;
        text-decoration: none;
        }
 .menu_project_name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--first-title-color);
   }
 .menu_project_text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--text-title--color);
 }
